.head{
    text-align: center;
    margin-bottom: 43px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, minmax(0,1fr));
    gap: 40px;
}
.column{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.icon{
    background-color: var(--bg3);
    width: 120px;
    height: 120px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.icon svg{
    width: 50px;
    height: 50px;  
}
@media (max-width: 900px) {
    .grid{
        grid-template-columns: repeat(2, minmax(0,1fr));
    }
    .icon{
        margin-bottom: 0;
    }
}
@media (max-width: 600px) {
    .icon{
        width: 80px;
        height: 80px;
    }
    .icon svg{
        width: 40px;
        height: 40px;  
    }
}